<div ng-show="userId !== ''" class="menu">
  <h2>{{boardId}}</h2>
  <span class="menu-controls">
    <label class="menu-controls">Sort by</label>
    <select ng-model="sortField">
      <option value="$id">Created date</option>
      <option value="votes">Votes</option>
    </select>
    <button class="pull-right new-column" ng-show="board.columns.length < 6" ng-click="modalService.openAddNewColumn(this)">New column</button>
    <button class="pull-right delete-button" ng-click="modalService.openDeleteCards(this)">Delete cards</button>
    <button class="pull-right fa fa-clock-o" ng-class="toggleTimer ? '' : 'disabled'" ng-click="modalService.toggleTimer(this)"></button>
    <select class="pull-right" ng-model="timerMinutes" ng-show="toggleTimer">
      <option value="10">10 minutes</option>
      <option value="5">5 minutes</option>
      <option value="2">2 minutes</option>
      <option value="1">1 minute</option>
    </select>
  </span>
</div>
